.root {
    -fx-font-family: "Segoe UI", "Inter", "Arial";
    -fx-background-color: linear-gradient(
            to bottom right,
            #f3dcde,
            #f9f7f6
    );
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 6, 0.3, 0, 2);
}

.button {
    -fx-background-color: linear-gradient(
            to bottom,
            #060606,
            #212121
    );
    -fx-text-fill: #f5f5f5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-padding: 10 22 10 22;
    -fx-background-radius: 10;
    -fx-cursor: hand;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.3, 0, 3);
}




