.root {
    -fx-font-family: "Helvetica";
    -fx-background-color: #fefefe;
}

.label {
    -fx-text-fill: #df7a14;
    -fx-font-family: "Helvetica Bold";
    -fx-font-weight: bold;
}


.toggle-button{
    -fx-text-fill: #838388;
    -fx-border-color: #838388;
    -fx-font-size: 2em;
    -fx-font-weight: normal;
    -fx-padding: 1rem;
    -fx-cursor: hand;
}